.FrontEndProjects {
    display: block;
    width: 100%;
    height: auto;
    /* height: 600px; */
    /* border: 2px solid red; */
    background-color: #222;
    color: white;
    /* transition: height 2s; */
  }

  .imgStyle {
      width: 400px;
      margin: 20px;
      border-radius: 20px;
  }

  .hTitle {
      padding-top: 20px;
  }
